<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Spaces</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="stylesheet" href="/static/spaces.css"> 
    </head>
    <body>

    
    <h1>{{booking.booking_date}} {{booking.booking_status}} {{space.space_name}}</h1>

    <label for="status">Choose a new status:</label>
    <form action='/change-status/{{booking.id}}' method="POST">
        <select name="status" id="status">
            <option value="True">Confirmed</option>
            <option value="">Canceled</option>
        </select>
        <input type="submit" value="Change Status">
    </form>
<br>
</div>

   


    </body>
</html>